header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
label {
  align-self: center;
  margin: 1rem;
  display: flex;
}
label input {
  margin: 0 1rem;
}
main {
  display: flex;
  align-items: flex-end;
}
main > div {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
}
button {
  cursor: pointer;
  padding: 5px 2rem;
  color: white;
  font-size: 0.8rem;
  font-weight: 500;
  background-color: black;
}
#lift-button-wrapper > div{
  margin: 2rem;
}
#lift-button-wrapper > div > {
  margin: 2rem;
}
.lift {
  width: 100px;
  height: 100px;
  background-color: red;
  transition: 1s smooth;
  margin: 1rem;
  overflow: hidden;
}
.lift-door-wrapper {
  width: 100%;
  height: 100%;
}
.lift-door {
  background: orange;
  width: 50%;
  height: 100%;
  float: left;
  position: relative;
  z-index: 2;
  transform: translateX(0);
}
#state-one {
  grid-row: 3;
  grid-column: 1;
}
#state-two {
  grid-row: 3;
  grid-column: 2;
}
#state-three {
  grid-row: 3;
  grid-column: 3;
}
.flex {
  display: flex;
  flex-direction: row;
}
#lift-button-wrapper div {
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 50px;
}
#lift-button-wrapper div button {
  margin: 2px 0;
}
